.background {
  width: 100%;
  min-height: calc(100vh - 71px);
  background-image: url("../../images/chesswallpaperl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
